/* ページ全体のスタイル */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* タイトルのスタイル */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}

.profile {
    text-align: center; 
    margin-bottom: 20px;
    margin-top: 100px;
}

.profile img {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    object-fit: cover; 
    margin-bottom: 15px;
}

.profile h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 15px;
}

.profile p {
    font-size: 20px;
    color: #555;
    margin: 0 auto;
    max-width: 500px; 
}
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 0 16px;
  }
  
  .image-container {
    width: calc(25% - 10px);
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #efefef;
    border-radius: 8px;
  }
  
  @media (max-width: 600px) {
    .image-container {
      width: calc(33.33% - 10px);
    }
  }
  
.image-container img {
    max-height: 100%;         
    max-width: 100%;       
    object-fit: contain;       
}

/* SNSリンクを並べるための箱 */
.sns-links {
    display: flex;
    justify-content: center;
    gap: 50px; 
    margin-top: 40px; 
    margin-bottom: 80px; 
}

/* SNSアイコンのサイズと動きの設定 */
.sns-links img {
    width: 35px; 
    height: 35px;
    transition: opacity 0.3s; 
}

.sns-links img:hover {
    opacity: 0.7; 
}

/* モーダル（拡大表示）のスタイル */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-image {
    max-width: 90%;
}

.modal-info {
    margin-top: 10px;
    color: #fff;
}

.modal-info h2 {
    margin: 8px 0 15px;
    font-size: 24px;
}

#modal-place {
    margin: 15px 0 5px;
    font-size: 18px;
}

#modal-camera{
    margin: 5px 0 20px;
    font-size: 14px;
}

#modal-desc {
    margin: 20px 0 10px;
    font-size: 9px;
}

/* ハンバーガーアイコン */
.menu-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 36px;
    cursor: pointer;
    z-index: 1001;
  }
  
  /* サイドメニュー本体（初期は非表示状態） */
  .side-menu {
    position: fixed;
    top: 0;
    right: -300px; /* ← widthと合わせて隠す幅 */
    width: 260px;
    max-width: 80vw;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    text-align: left;
  }
  
  /* 開いたとき */
  .side-menu.open {
    right: 0;
  }
  
  /* サイドメニュー内のテキストスタイル */
  .side-menu h1 {
    font-size: 30px;
    margin: 50px 0 60px 0;
    color: #333;
  }

  .side-menu a {
    display: block;
    text-decoration: none;
    color: #333;
  }

  .side-menu h2 {
    font-size: 20px;
    margin: 0 0 20px 0;
    color: #333;
  }
  
  .side-menu ul {
    list-style: disc;
    padding-left: 20px;
    margin: 0;
    text-decoration: none;
  }
  
  .side-menu li {
    font-size: 16px;
    margin-bottom: 12px;
    text-decoration: none;
  }

  .side-menu h1 a {
    text-decoration: none;
    color: #333;
    display: block;
    text-align: left; 
  }

  .side-menu a:hover {
    background-color: #ecffed;
  }

  .side-menu a.active {
    color: #939393;
  }
  

  .coming-soon h2 {
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 24px;
    color: #555;
    margin-bottom: 300px;
    margin-top: 200px;
  }

  .coming-soon p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #555;
  }
